{% extends 'default/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <pre id="json"></pre>
            </div>
        </div>
    </div>
{% endblock %}