* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #F5F7FA;
  font-family: 'Raleway', sans-serif;
}
.wrapper .list-toolbar {
  text-decoration: none;
  color: #FFFFFF;
}
.wrapper header .navbar {
  border-radius: 0;
}
.wrapper .content {
  display: table-row;
  height: 100%;
}
.wrapper .footer {
  height: 80px;
}
